---
import HomepageContent from '../../components/HomepageContent.astro';
import Layout from '../../layouts/Layout.astro';
---

<!-- previewroute: variant die de subtiel rebels-taal behoudt maar dichter tegen het origineel aanleunt -->
<Layout
	title="rebels dichtbij | grondlaag"
	description="Preview van een rebelse variant die nog dicht bij het origineel blijft."
	theme="rebels-dichtbij"
>
	<div class="preview-banner container">
		<p>preview theme: rebels dichtbij</p>
		<p>
			<a href="/grondlaag/proeven/rebels-onredelijk">onredelijk</a>
			<a href="/grondlaag/proeven/rebels-clever">clever css</a>
			<a href="/grondlaag/">origineel</a>
		</p>
	</div>
	<HomepageContent />
</Layout>
