---
import HomepageContent from '../../components/HomepageContent.astro';
import Layout from '../../layouts/Layout.astro';
---

<!-- previewroute: minder lawaai, meer slim opgebouwde css-trucs en ritme -->
<Layout
	title="rebels clever | grondlaag"
	description="Preview van een slim opgebouwde css-variant voor grondlaag."
	theme="rebels-clever"
>
	<div class="preview-banner container">
		<p>preview theme: rebels clever</p>
		<p>
			<a href="/grondlaag/proeven/rebels-dichtbij">dichtbij origineel</a>
			<a href="/grondlaag/proeven/rebels-onredelijk">onredelijk</a>
			<a href="/grondlaag/">origineel</a>
		</p>
	</div>
	<HomepageContent />
</Layout>
