---
import HomepageContent from '../../components/HomepageContent.astro';
import Layout from '../../layouts/Layout.astro';
---

<!-- previewroute: opzettelijk overdreven, brutalistischer en meer archigram-achtig -->
<Layout
	title="rebels onredelijk | grondlaag"
	description="Preview van een onredelijke, uitgesproken brutale variant voor grondlaag."
	theme="rebels-onredelijk"
>
	<div class="preview-banner container">
		<p>preview theme: rebels onredelijk</p>
		<p>
			<a href="/grondlaag/proeven/rebels-dichtbij">dichtbij origineel</a>
			<a href="/grondlaag/proeven/rebels-clever">clever css</a>
			<a href="/grondlaag/">origineel</a>
		</p>
	</div>
	<HomepageContent />
</Layout>
